body{
    background-image: url(./Assets/5570863.jpg);
    background-size: 100%;
}
nav{
    color: black;
    justify-content: flex-end;
}

a{
    color: black;
    font-family: 'Bitter', serif;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 70px;
}
h2{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
}
h3{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}
p,
.btn{
    font-family: 'Bitter', serif;
}
.intro-size{
    font-family: 'Bitter', serif;
    font-size: 20px;
}

img{
    width: 80%;
    height: 80%;
}

